body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
.head{
  width:100%;
  background-color: #0c2333;
  color: white;
  font-size: 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 50px;
}

.me{
  display: flex;
  margin: 50px 0 50px 0;
  justify-content: center;
  position: relative;
}

.me::after{
  content:'';
  position: absolute;
  border: 1px solid white;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 10%;
  border-radius: 50%;
  border-width: 30px;
  opacity: 50%;
  animation: pulse 1s infinite;
}

{left: 5%;
right: 57%;
top: 7%;
bottom: 15%;
border-radius: 50%;
}
@keyframes pulse{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 50%;
    transform: scale(1.2);
  }
  100%{
    opacity: 0;
    transform: scale(1.2);
  }

}

#myself{
  border-radius: 50%;
  width: 80%;
}

.info{
  margin: 5vw 0 5vw 0;
  text-align: center;
}
.info input[type="button"]{
  color: white;
  font-size: 2vw;
  background-color: #7bf1a8;
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  transition: transform 2s;
}
.info input[type="button"]:hover{
  box-shadow: 0px 10px 50px #888888;
  background-color: #83c5be;
  transform: scale(1.1, 1.1);
}
.info input[type="button"]:active{
  background-color: #004BA8;
}
.fa-bars{
  color:white;
  font-size: 30px;
  padding: 5px;
}
.header{
  position: sticky;
  top: 0;
}
.topnav{
  background-color: #1c2743;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px;
}
.topnav .item a{
  color:#7bf1a8;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  top: 30px;
  display: flex;
  justify-content: center;
}
.topnav .item{
  background-color: #1c2743;
}
.topnav .item:hover{
  background-color: #004BA8;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav{display: block; height: 50px;}
  .topnav .item {display: none;}
  .topnav .icon {
    float: right;
    display: block;
  }
  .head,
  .info input[type="button"]{
    font-size: 20px;
  }
  .skill-card{
    grid-area: card;
  }
  .pic{
    grid-area: picture;
  }
  .myskills{
    grid-template-areas:
    "card"
    "picture";
  }

  .inner .simage{
    grid-area: icons;
  }

  .inner .stext{
    grid-area: texts;
  }
  .inner{
    grid-template-areas:
    "icons"
    "texts";
  }

}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .item {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .item a{
    top: 0;
    padding: 10px;
  }
}

.about{
  margin: 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 50px;
}

.mytext{
  font-size: 20px;
}
.meagain img{
  width: 100%;
  border-radius: 10px;
}
.myskills{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-row-gap: 50px;
  background-image: url("images/black1.jpg");
  background-size: cover;
  background-position: center;
}
(  background-color: #FC814A;
 EFA00B)
.myskills.pic{
}
.pic img{
  width: 100%;
  border-radius: 10px;
  margin-top: 8vw;
  display: none;
}
.skill-card{

  padding: 1vw;
  color: white;

}
.skill-card h1{
  text-align: center;
}
.skillbox{
  margin-top: 10px;
  padding: 1px;
}
.skillbox.p{
  position: absolute;
  float: left;
}

.skill{
  z-index: -10;
  width:100%;
  height: 1em;
  box-sizing: border-box;
  border: 2px solid #60ab9a;
  border-radius: 10px;
}
.skill-level{
  background-color: #70c2b4;
  width: 0;
  height: 80%;
  padding: 1px;
  border-radius: 10px;

}
.slideImg{
  width: 50%;
}
.carousel-cell{
  outline: 1px solid red;
}
.slide-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px 10px;;
  margin: 3vw 3vw 0 3vw;
}
.slider{
  background-color: #13293D;
  color: white;
  border-radius: 40px;
}
.slider:hover{
  box-shadow: 5px 10px 18px #70c2b4;
  background-color: #16324f;
}
.simage{
  display: flex;
  justify-content: center;
}
.simage img{
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: 10px;
}
.simage img:hover{
  box-shadow: 5px 10px 18px #70c2b4;
}
.stext{
  font-size: 18px;
  padding: 50px;
}
.arrows{
  display: flex;
  justify-content: center;
}

.inner{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.inner .simage img{

}
.wrapper{
  width: 100%;
  margin: 0;
  background-color: black;
}
.facts{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px; 1fr));
  column-gap: 50px;
}
.facts-item{

}

.facts-item ol{
}

.ball {
list-style: none;
margin: 0;
}
.ball span {
color: #808285;
text-decoration: none;
display: inline-block;
padding-left: 25px;
height: 44px;
line-height: 44px;
font-size: 20px;
position: relative;
transition: .3s linear;
}

.ball span:before {
content: "";
width: 30px;
height: 30px;
border-radius: 50%;
background: #425273;
position: absolute;
left: -30px;
top: 7px;
}

.ball li {position: relative;}
.ball li:before {
content: "";
width: 20px;
height: 20px;
border-radius: 50%;
background: #EC351D;
position: absolute;
top: 12px;
left: -30px;
z-index: 2;
transition: .4s ease-in-out;
}
.ball li:hover:before {left: -20px;}
